.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    margin-bottom: toRem(10px);
  }
  form {
    display: flex;
    flex-direction: column;
    input {
      padding: toRem(5px);
    }
    .btn {
      margin: toRem(30px);
      button {
        padding: toRem(5px) toRem(20px);
        width: 120px;
        &:hover {
          cursor: pointer;
          border: 2px solid $soft-red;
          color: $soft-red;
          font-weight: bold;
        }
      }
      button[type="submit"] {
        margin-right: toRem(10px);
      }
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: toRem($big);
    gap: toRem(20px);
    &__not-exist {
      font-weight: bold;
      color: $soft-red;
    }
    &__content {
      border: 4px dashed $soft-red;
      width: toRem($small);
      height: toRem($small);
      background-size: cover;
      &__text {
        background-color: $transparent-white;
        text-align: center;
        margin: 0 10px;
      }
      @media (max-width: toRem(372px)) {
        width: toRem(200px);
      }
    }
  }
  @media (max-width: toRem(375px)) {
    form .btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      button[type="submit"] {
        margin-right: 0;
        margin-bottom: toRem(10px);
      }
    }
  }
}
